.weather-section__form {
  width: 100%;
  text-align: center;
}

input {
  padding: 15px;
  border: 1px solid #b8b8b8;
  border-radius: 5px 0 0 5px;
  transition: 0.2s all ease-in-out;
  font-size: 16px;
}

input:hover {
  border: 1px solid #009425;
}

input:focus {
  outline: none;
  border: 1px solid #009425;
}

input::placeholder {
  font-style: italic;
  font-weight: 100;
}

button {
  background-color: transparent;
  color: #ffffff;
  padding: 15px;
  border: 1px solid #009425;
  border-radius: 0 5px 5px 0;
  transition: 0.2s all ease-in-out;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
} 

button:hover {
  background-color: #009425;
}

.error {
  color: #ff0000;
  font-size: 20px;
  text-align: center;
  margin-top: -2px;
}