.weather-section {
  width: 50%;
  margin: 100px auto;
}
.weather-section h1 {
  color: #ffffff;
  text-align: center;
}

.weather-section__search{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}

.weather-section__form {
  width: 100%;
  text-align: center;
}

.weather-section__form input {
  padding: 15px;
  border: 1px solid #b8b8b8;
  border-radius: 5px 0 0 5px;
  transition: 0.2s all ease-in-out;
  font-size: 16px;
}

.weather-section__form input:hover {
  border: 1px solid #009425;
}

.weather-section__form input:focus {
  outline: none;
  border: 1px solid #009425;
}

.weather-section__form input::placeholder {
  font-style: italic;
  font-weight: 100;
}

.weather-section__form button {
  background-color: transparent;
  color: #ffffff;
  padding: 15px;
  border: 1px solid #009425;
  border-radius: 0 5px 5px 0;
  transition: 0.2s all ease-in-out;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.weather-section__form button:hover {
  background-color: #009425;
}

.weather-section__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0 0 0;
  color: #fff;
  font-weight: 700;
}

.weather-section__values {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.weather-section__icon {
  width: 30px;
  height: 30px;
}

.error {
  color: #ff0000;
  font-size: 20px;
  text-align: center;
  margin-top: -2px;
}