@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/bg/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
